# PostgreSQL config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transport_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# SQLAlchemy Async URL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/transport_db

# ML Service
ML_SERVICE_URL=http://localhost:8001/predict